@use "mixins" as *;

form {
  label {
    font-size: var(--font-size);
    @include tablet {
      font-size: var(--font-size);
    }
  }
  margin-bottom: 1rem;

  .input-wrapper {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
    gap: 1rem;
    margin: 1rem 0;
    input,
    button {
      padding: 1rem 2rem;
      border: 0;
      border-radius: 999px;
      font-size: var(--font-size-h4);
    }
    input:not(.btn) {
      // width: 100%;
      @include tablet {
        width: 90%;
      }
      border: 3px solid var(--dark-pink);
    }
    .btn {
      width: 200px;
      color: var(--text-color);
      background-color: var(--dark-pink);
      cursor: pointer;
      color: var(--bg-color);
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: var(--dark-purple-red);
      }
    }
  }
}
