@use "variables" as *;
@use "mixins" as *;

body {
  font-family: var(--primary-font);

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--primary-font);
    margin-top: 0;
    line-height: 120%;
    font-weight: 400;
  }

  h1 {
    font-size: var(--font-size-h1);
    @include mobile {
      font-size: var(--mobile-font-size-h1);
    }
  }

  p {
    font-size: var(--font-size-medium);
    @include mobile {
      font-size: var(--mobile-font-size-medium);
    }
  }
}
