@use "main" as *;
body {
  margin-top: 100px;
  // background-color: var(--bg-color-secondary);
  background: rgb(254, 232, 228);
  background: linear-gradient(
    90deg,
    rgba(254, 232, 228, 1) 17%,
    rgba(255, 199, 209, 1) 50%,
    rgba(237, 122, 172, 1) 100%
  );
}
footer {
  font-size: var(--font-size);
  margin-top: 1rem;
  &.container {
    @include tablet {
      padding: 1rem 4rem;
    }
  }
}
.container {
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 4rem;
  @include mobile {
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  border-radius: 12px;
  background-color: var(--bg-color);

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.app-header {
  position: relative;
  z-index: 0;
}

/*** Highlighter effect
** credit: https://max.hn/thoughts/how-to-create-a-highlighter-marker-effect-in-css
***/

.highlight {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgb(197, 186, 255),
    rgba(204, 72, 121, 50%),
    rgb(232, 249, 255, 0.3)
  );
}

.highlight-small {
  margin: 0 -0.1em;
  padding: 0.1em 0.3em;
  border-radius: 0.5em 0.3em 0.3em 0.4em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgb(251, 96, 144, 0.3),
    rgb(255, 199, 209, 0.3),
    rgba(145, 207, 230, 0.545)
  );
  @include mobile {
    background-image: none;
  }
}

.poem-content {
  border-radius: 0;
  border-left: 3px solid var(--dark-pink);
}

.hidden {
  display: none;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
}
